<%- include('partials/header') %>

<section class="intro">
    <p>Velkomin á besta bíómyndavef landsins.</p>
    <p>Hér munum við bráðlega birta lista af kvikmyndum.</p>
</section>

<%- include('partials/footer') %>